@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(79, 79, 79);
  background: linear-gradient(
    90deg,
    rgba(79, 79, 79, 1) 20%,
    rgba(21, 21, 22, 1) 80%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide p {
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  right: 20px;
  margin: 0;
  opacity: 0;
}
.slide.active {
  flex: 10;
}
.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
.slide.active p {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
